@model HomeViewModel

<h2>Best cars</h2>
<h1>Test Render</h1>
<div class="row mt-5 mb-2">
    @{
        
        foreach (Car car in Model.FavCars)
        {
            <partial name="AllCars" model="car" />
        }
    }
</div>


